[submodule "AstroNvim_config"]
	path = AstroNvim_config/.config/nvim_config/AstroNvim
	url = git@github.com:SpookyYomo/AstroNvim_config.git
[submodule "Firefox/usr/lib/firefox"]
	path = Firefox/usr/lib/firefox
	url = ./Firefox/usr/lib/firefox
[submodule "Firefox_user"]
	path = Firefox_user
	url = git@github.com:SpookyYomo/Firefox_user.git
