[Unit]
Description=SSH add
Requires=ssh-agent.service
After=ssh-agent.service
StartLimitBurst=6
StartLimitIntervalSec=8

[Service]
TimeoutStartSec=6
Restart=on-failure
RestartSec=10
ExecStart=ssh-add -q <...>

[Install]
WantedBy=default.target
